@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

.container {
    text-align: center;
}

.title {
    font-family: 'Praise', cursive;
    font-size: 36px;
}

.prev-btn, .next-btn, .random-btn {
    margin: 5px;
}