@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');

html, body {
    margin: 0;
    height: 100%;
}
#grad {
    background-image: linear-gradient(cyan, yellow);
}
.container {
    text-align: center;
}

img {
    width: 150px;
    border-radius: 50%;
}

.title {
    font-family: 'Praise', cursive;
    font-size: 36px;
}

.prev-btn, .next-btn, .random-btn {
    margin: 5px;
}

.review {
    /* Add shadows to create the "card" effect */
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    
  }